main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  padding: 2rem;
  position: relative;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 800px;
  height: 100%;
  width: 100%;
}
